@use "sass:math";
@import "../Global-sass/colors", "../Global-sass/function";



.investing-section{
    text-align: center;
    width: 100%;
    padding: 2rem;
    background-color: $card-bg;
}

.investing-content{
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    &__card{
        h2{
            font-size: rem(28);
            line-height: 2.25rem;
            color: $heading;
        }
        p{
            font-size: 1rem;
            padding: 0;
            margin-top: 1.5rem;
            letter-spacing: rem(0.5);
        }
        &__image{
            margin: 2rem auto;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}

.visualize-section{
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    &__content{
        h3{
            font-size: rem(24);
        }
        p{
            padding: 0 0 1rem 0;
            margin-top: 1.5rem;

        }
    }
}

.data-chart{
    &__form{
        fieldset{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
            border: none;
            padding-top: 1rem;
        }
        .tax-heading{
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        &__plan{
            text-align: center;
            padding: 1rem 0 0 0 ;
        }
        .data-submit{
            background-color: $cyan;
            color: #ffff;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: rem(0.5);
            border: none;
            border-radius: rem(8);
            width: 40%;
            margin: 0 auto;
            cursor: pointer;
            padding: 0.5rem;
            transition: all 250ms linear;
            &:hover{
                background-color: transparent;
                color: $cyan;
                border: 1px solid $cyan;
            }
        }
    }
}