@use "sass:math";
@import "./Global-sass/colors";

@function rem($number) {
  @if unitless($number) {
    $default-one-rem-in-pixel: 16;

    @return math.div($number, $default-one-rem-in-pixel) * 1rem;
  }

  @error "This '#{number}' must not have a unit";
}

#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html,
body {
  height: 100%;
  min-width: rem(375);
  background-color: $bg;
}

ul {
  list-style: none;
}

h2 {
  font-weight: 700;
}

.header-bar {
  position: sticky;
  top: 0;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
  background-color: $red;
  &__icon {
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    fill: $card-bg;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: -100%;
    text-align: center;
    transition: all 0.3s linear;
    opacity: 0;
    left: 0;
    position: fixed;
    gap: 2rem;
    height: 100vh;
    background-color: $red;
    padding-top: 5rem;
    font-size: 2rem;
    li {
      a {
        color: $card-bg;
        font-weight: 700;
      }
    }
  }
  &__list.active {
    opacity: 0.98;
    top: 0;
    z-index: 3;
  }
}

.main-app {
  height: 100%;
  .info {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    &__container {
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 2rem;
      &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: rem(20);
        background-color: $card-bg;
        gap: 2rem;
        padding: 2rem;
        letter-spacing: rem(1);
        h2 {
          padding: 2rem 0;
        }
        p {
          letter-spacing: rem(1);
          text-align: center;
        }
        &__sources {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          width: 100%;
        }
        .info-btn {
          padding: rem(15);
          border-radius: rem(8);
          border: none;
          background-color: $cyan;
          color: #ffff;
          font-weight: 700;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .nav-bar {
    justify-content: space-between;
    &__icon {
      display: none;
    }
    &__list {
      font-size: 1rem;
      flex-direction: row;
      height: auto;
      justify-content: flex-end;
      opacity: 1;
      position: static;
      width: auto;
      padding-top: 0;
    }
  }

  .main-app {
    .info {
      flex-direction: row;
      &__container {
        flex-direction: row;
        align-items: center;
        width: 100%;
        &__card {
          text-align: center;
          justify-content: center;
          width: 100%;
          height: 50%;
        }
      }
    }
  }
}
